.navbar ul{
    background-color: #C0C2C9;
    border: 2px solid black;
    height: 400px;
    left:0;
    list-style-type: none;
    margin:5px 0px 5px 0px;
    padding: 0;
    top: 100px;
    width: 200px;
}
.navbar a{
    border:5px #5C4326;
    color: black;
    display: block;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
}
.navbar a:hover{
    background-color: antiquewhite;
    color:blue;
}
.title_container{
    background-color: #c69d797e;
    border: 5px solid #5C4326;
    display: flex;
    max-height: 100px;
    width: 100%;
}
.title_container h1{
    color: #5C4326;
    margin: auto;
    padding: 10px 0px;
}